#select-city {
    margin-top: 30px;
    color: #5e5e5e;
    font-weight: 500;
}

#ext-row-loginbox {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

#ext-login-box {
    border: 1px solid;
    border-color: #5b5c5e;
    border-radius: .25rem !important;
    background-color: #ffffff !important;
}

#int-login-box {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.login-forms {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.panel-option {
    margin-bottom: 3rem !important;
}

.panel-option > .icon-box {
    width: 100%;
    height: 100%;
}

.icon-box .title {
    color: #124265;
}
#btn-cancel {
    background: #ea0d0d !important;
}

.form-group {
    margin-top: 1rem !important;
}

.btn-primary {
    background-color: #2487ce !important;
    border-color: #2487ce !important;
}

#search_box {
    width: 300px;
}

#search-addon {
    background-color: #2487ce !important;
    color: white !important;
}

.option_button {
    height: 40px;
    width: 40px;
    color: #2487ce;
}

#search_add {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

#col-table {
    margin-top: .5rem !important;
}

.modal-title {
    color: #124265 !important;
}

#picture-profile {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
}

.img-card {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.icon-portal {
    width: 50px;
    height: 50px;
}

.form-control:disabled, .form-control[readonly], select:disabled {
    background-color: #ffffff !important;
}

.title-icon-box {
    color: #124265 !important;
}

.pendiente {
    color: #cb7d18 !important;
}

.vencido {
    color: gray !important;
}

.cumplimentado {
    color: forestgreen !important;
}

.hero-section {
    min-height: auto !important;
}

.att-icon, .att-field {
    color: #124265 !important;
}

.att-field, .att-value {
    font-weight: bold !important;
}

.icon-pdf-form {
    height: 25px;
    width: 25px;
    color: #bd3417;
}

.icon-pdf {
    color: #bd3417;
}

.name_doc {
    font-size: large;
}